parameters:
  level: 6
  paths:
    - ./
  excludePaths:
    # @see https://github.com/mglaman/drupal-check/issues/261#issuecomment-1030141772/
    - vendor
    - '*/node_modules/*'
  ignoreErrors:
    # This is how drupal works....
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#The text '@deprecated use lookup\(\) instead.' does not match the standard format: @deprecated in %deprecation-version% and is#'
    - '#Each @deprecated tag must have a @see tag immediately following it#'
